
.icon-loop:before { content: '\e800'; } /* '' */
.icon-bookmarks:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e805'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-record:before { content: '\e807'; } /* '' */
.icon-to-start:before { content: '\e808'; } /* '' */
.icon-fast-forward:before { content: '\e809'; } /* '' */
.icon-fast-backward:before { content: '\e80a'; } /* '' */
.icon-to-end:before { content: '\e80b'; } /* '' */
.icon-itunes:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-pencil-neg:before { content: '\e811'; } /* '' */
.icon-mic:before { content: '\e812'; } /* '' */
.icon-attach-1:before { content: '\e813'; } /* '' */
.icon-cog-alt:before { content: '\e814'; } /* '' */
.icon-note:before { content: '\e815'; } /* '' */
.icon-note-beamed:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-wrench-1:before { content: '\e818'; } /* '' */
.icon-it-2:before { content: '\e819'; } /* '' */
.icon-it-r:before { content: '\e81a'; } /* '' */
.icon-it-b2:before { content: '\e81b'; } /* '' */
.icon-it-b3:before { content: '\e81c'; } /* '' */
.icon-it-3:before { content: '\e81d'; } /* '' */
.icon-it-4:before { content: '\e81e'; } /* '' */
.icon-it-b5:before { content: '\e81f'; } /* '' */
.icon-it-5:before { content: '\e820'; } /* '' */
.icon-it-6:before { content: '\e821'; } /* '' */
.icon-it-b7:before { content: '\e822'; } /* '' */
.icon-it-7:before { content: '\e823'; } /* '' */
.icon-it-#5:before { content: '\e824'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
