
.icon-th:before { content: '\e800'; } /* '' */
.icon-th-large:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star-half:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-tag:before { content: '\e80c'; } /* '' */
.icon-tags:before { content: '\e80d'; } /* '' */
.icon-bookmark:before { content: '\e80e'; } /* '' */
.icon-flag:before { content: '\e80f'; } /* '' */
.icon-pin:before { content: '\e810'; } /* '' */
.icon-lock-open:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-upload:before { content: '\e814'; } /* '' */
.icon-download:before { content: '\e815'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-volume-up:before { content: '\e818'; } /* '' */
.icon-down-dir:before { content: '\e819'; } /* '' */
.icon-up-dir:before { content: '\e81a'; } /* '' */
.icon-left-dir:before { content: '\e81b'; } /* '' */
.icon-right-dir:before { content: '\e81c'; } /* '' */
.icon-lifebuoy:before { content: '\e81d'; } /* '' */
.icon-marquee:before { content: '\e81e'; } /* '' */
.icon-music:before { content: '\e81f'; } /* '' */
.icon-attention:before { content: '\e820'; } /* '' */
.icon-ccw:before { content: '\e821'; } /* '' */
.icon-cw:before { content: '\e822'; } /* '' */
.icon-arrows-cw:before { content: '\e823'; } /* '' */
.icon-shuffle:before { content: '\e828'; } /* '' */
.icon-book:before { content: '\e82b'; } /* '' */
.icon-off:before { content: '\e82c'; } /* '' */
.icon-note:before { content: '\e82d'; } /* '' */
.icon-note-beamed:before { content: '\e82e'; } /* '' */
.icon-comment-1:before { content: '\e82f'; } /* '' */
.icon-chat-1:before { content: '\e830'; } /* '' */
.icon-keyboard:before { content: '\e831'; } /* '' */
.icon-switch:before { content: '\e832'; } /* '' */
.icon-pencil:before { content: '\e833'; } /* '' */
.icon-lock-open-1:before { content: '\e834'; } /* '' */
.icon-lock-1:before { content: '\e835'; } /* '' */
.icon-attach:before { content: '\e836'; } /* '' */
.icon-check:before { content: '\e837'; } /* '' */
.icon-cancel-1:before { content: '\e838'; } /* '' */
.icon-info-1:before { content: '\e839'; } /* '' */
.icon-help-1:before { content: '\e83a'; } /* '' */
.icon-cw-1:before { content: '\e83b'; } /* '' */
.icon-arrows-ccw:before { content: '\e83c'; } /* '' */
.icon-shuffle-1:before { content: '\e83d'; } /* '' */
.icon-loop:before { content: '\e83e'; } /* '' */
.icon-play-1:before { content: '\e83f'; } /* '' */
.icon-stop-1:before { content: '\e840'; } /* '' */
.icon-pause-1:before { content: '\e841'; } /* '' */
.icon-record:before { content: '\e842'; } /* '' */
.icon-to-end-1:before { content: '\e843'; } /* '' */
.icon-to-start-1:before { content: '\e844'; } /* '' */
.icon-fast-forward:before { content: '\e845'; } /* '' */
.icon-fast-backward:before { content: '\e846'; } /* '' */
.icon-progress-0:before { content: '\e847'; } /* '' */
.icon-progress-1:before { content: '\e849'; } /* '' */
.icon-progress-3:before { content: '\e84a'; } /* '' */
.icon-progress-2:before { content: '\e84b'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
